In [1]:
#Tuple
x=10,20,30
print(x[0],type(x))

10 <class 'tuple'>

In [3]:
x=10,20,30
print(x[0:2],type(x))

(10, 20) <class 'tuple'>

In [5]:
x=10,20,30,40,10,10
x.count(10)

3

In [7]:
x=10,20,40,20,10
print(x.index(20))

1

In [9]:
# in tuple memory adress is changed but in list not
x=(10,20,30)
print(id(x))
x=x+(40,50)
print(id(x))
print(x)

1870548160704
1870548348624
(10, 20, 30, 40, 50)

In [13]:
#dictionary #noindexposition
userdetail={100:"tushar",101:"aman"}
print(userdetail[100])
print(type(userdetail))

tushar
<class 'dict'>

In [17]:
userdetail={100:"tushar",101:"aman"}
userdetail[102]="ujjwal" #insert
userdetail[101]="yash" #update
print(userdetail)

{100: 'tushar', 101: 'yash', 102: 'ujjwal'}

In [19]:
userdetail={100:"tushar",101:"aman"}
userdetail.pop(101)
print(userdetail)

{100: 'tushar'}

In [23]:
userdetail={100:"tushar",101:"aman"}
x=userdetail.popitem() #delete the last element
print(userdetail,x)

{100: 'tushar'} (101, 'aman')

In [35]:
userdetail={100:"tushar",101:"aman"}
print("keys:",userdetail.keys())
print("value:",userdetail.values())
print("keys and value:",userdetail.items())

keys: dict_keys([100, 101])
value: dict_values(['tushar', 'aman'])
keys and value: dict_items([(100, 'tushar'), (101, 'aman')])

In [37]:
userdetail={100:"tushar",101:"aman"}
userdetail.update({100:15,107:"yash"}) #update the value
print(userdetail)

{100: 15, 101: 'aman', 107: 'yash'}

In [41]:
mydictionary={"salary":100}
print(mydictionary["salary"])
mydictionary["salary"]=mydictionary["salary"]+90
print(mydictionary)

100
{'salary': 190}

In [67]:
mydictionary={}
for i in range(10,16):
    mydictionary[i]=1
print(mydictionary)

{10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1}

In [77]:
mydictionary={}
for i in "hey ura":
    if i in "aeiou":
        mydictionary[i]=1
print(mydictionary)
#e:1 u:1 a:1

{'e': 1, 'u': 1, 'a': 1}

In [83]:
x={"salary":100}
if("salary"in x):
    x["salary"]=x["salary"]+10 #update
else:
    x["salary"]=10
print(x)

{'salary': 110}

In [95]:
mydictionary={}
for i in "hehyea":
    if i in mydictionary:
        mydictionary[i]=mydictionary[i]+1
    else:
        mydictionary[i]=1
        
print(mydictionary)

{'h': 2, 'e': 2, 'y': 1, 'a': 1}

In [3]:
data="abc"
mydictionary={}
for i in range(0,len(data)):
    print(i,data[i])
    for j in range(1,len(data)):
        if (data[i]+data[j] not in mydictionary):
            mydictionary[data[i]+data[j]]=1
print(mydictionary)

0 a
1 b
2 c
{'ab': 1, 'ac': 1, 'bb': 1, 'bc': 1, 'cb': 1, 'cc': 1}

In [13]:
data="abc"
mydictionary={}
for i in range(0,len(data)):
    if(data[i] not in mydictionary):
      mydictionary[data[i]]=1
    for j in range(i+1,len(data)):
        if(data[i]+data[j] not in mydictionary):
            mydictionary[data[i]+data[j]]=1
print(mydictionary)

{'a': 1, 'ab': 1, 'ac': 1, 'b': 1, 'bc': 1, 'c': 1}

In [17]:
data="abc"
mydictionary={}
for i in range(0,len(data)):
    if(data[i] not in mydictionary):
           
      mydictionary[data[i]]=1
    else:
        mydictionary[data[i]]+=1
    for j in range(i+1,len(data)):
        if(data[i]+data[j] not in mydictionary):
            mydictionary[data[i]+data[j]]=1
        else:
            mydictionary[data[i]+data[j]]+=1

if data not in mydictionary:
    mydictionary[data]=1
print(mydictionary)

{'a': 1, 'ab': 1, 'ac': 1, 'b': 1, 'bc': 1, 'c': 1, 'abc': 1}

In [7]:
mydict=[]
x=int(input("enter the number:"))
for i in range(1,11):
    if(x==10):

enter the number: 10

vale matched
vale matched
vale matched
vale matched
vale matched
vale matched
vale matched
vale matched
vale matched
vale matched

In [5]:
mydict=[]
x=int(input("enter the number:"))
for i in range(1,11):
    if(x==10):
        print("value matched")

enter the number: 10

value matched
value matched
value matched
value matched
value matched
value matched
value matched
value matched
value matched
value matched

In [11]:
str="hey"
mydict={}
for i in str:
    mydict[i]=1
print(mydict)

{'h': 1, 'e': 1, 'y': 1}

In [27]:
str="helllo hey"
mydict={}
total=0
for i in str:
    total+=1
mydict["total"]=total
print(mydict)

{'total': 10}

In [35]:
mydict={}
for i in "regex a":
    if i in "aeiou":
        mydict[i]=1
print(mydict)

{'e': 1, 'a': 1}

In [65]:
s="hey,hello,abhi"
mydict={}
for i in s:
    if i in "aeiou":
        if i not in mydict:
            mydict[i]=1
        else:
            mydict[i]=mydict[i]+1
print(mydict)

{'e': 2, 'o': 1, 'a': 1, 'i': 1}

In [ ]:
#list comprehension
#dictionary comprehension
#string

In [7]:
#anagram
s="rarj"
t="jrra"
dict1={}
dict2={}
for i in s:
    if i in dict1:
        dict[i]=dict[i]+1
    else:
        dict[i]=1

for i in t:
    if i in dict2:
        dict2[i]=dict2[i]+1
    else:
        dict2[i]=1
if (dict1=dict2):
    print("t is anagram")
else :
    print("not")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1069367412.py, line 17)

In [11]:
for i in range(1,10

[i for i  in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]